extends layout

block content
  h1= title
  
  - let image_names = ["item1.jpg", "item2.jpg", "item3.jpg", "item4.jpg", "item5.jpg"]

  - for (let i = 0; i < 3; i++)
    - let randIdx = Math.floor(Math.random() * image_names.length)
    img(src=`/images/${image_names[randIdx]}` alt=`Random item: ${image_names[randIdx]}` height="300" width="300")

